# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# NetBeans
nbproject/
build/
nbbuild/
dist/
nbdist/

# BlueJ
*.bjp
*.ctxt

# Compiled output
bin/
out/
target/
